<link href="/css/commands.css" rel="stylesheet">
<link href="/css/filter.css" rel="stylesheet">
<section class="commandList">
    <div id="myBtnContainer">
        <!--hier staan de categorieen buttons, je klikt op deze buttons en dan krijg je meerdere variaties te zien-->
          <button class="btn" onclick="filterSelection('mouth')"><img src="/img/openmouth.png" alt="">Mouth</button>
          <button class="btn" onclick="filterSelection('eyes')"><img src="/img/openmouth.png" alt="">Eyes</button>
          <button class="btn" onclick="filterSelection('brow')"><img src="/img/openmouth.png" alt="">Brows</button>
          <button class="btn" onclick="filterSelection('head')"><img src="/img/openmouth.png" alt="">Head</button>
          <button class="btn" onclick="filterSelection('position')"><img src="/img/openmouth.png" alt="">Positions</button>
          <button class="btn" onclick="filterSelection('visemes')"><img src="/img/openmouth.png" alt="">Visemes</button>
      
    
        </div>

    <div class="autoAnimation">
        <!--hier is een apart div gemaakt, omdat dit button niet hoort bij de andere buttons. Dit is ook meteen gelinkt aan de buttons die animations hebben-->
     <button class="btn" onclick="filterSelection('animation')"><img src="/img/lookleft.png" alt="animation">Emotions</button> 
    </div>
        
     <div class="commands">
        <h2>Variations</h2>
       
     <div class="container">
        <button class="filterDiv mouth" id=""><img src="/img/closedmouth.png" alt="closedmouth">Closed mouth</button>
        <button class="filterDiv mouth" id="mouthButton"><img src="/img/openmouth.png" alt="openmouth"> Open mouth</button>
        <button class="filterDiv mouth" id=""><img src="/img/lookleft.png" alt="smile small">Smile small</button>
        <button class="filterDiv mouth" id=""><img src="/img/lookleft.png" alt="smile mid">Smile mid</button>
        <button class="filterDiv mouth" id=""><img src="/img/lookleft.png" alt="smile medium">Smile medium</button>
        <button class="filterDiv mouth" id=""><img src="/img/lookleft.png" alt="smile large">Smile large</button>
        <button class="filterDiv mouth" id=""><img src="/img/lookleft.png" alt="smile xl">Smile extra large</button>

        <button class="filterDiv eyes" id="lookrButton"><img src="/img/lookright.png" alt="lookright">Look right</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookleft.png" alt="lookleft">Look left</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookdown.png" alt="look down">Look down</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookdownl.png" alt="look down l">Look down left</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookdownr.png" alt="look down r">Look down right</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookup.png" alt="look up">Look up</button>
        <button class="filterDiv eyes" id=""><img src="/img/look.png" alt="camera">Look at camera</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookupl.png" alt="look up l">Look up left</button>
        <button class="filterDiv eyes" id=""><img src="/img/lookupr.png" alt="look up r">Look up right</button>

        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="raised brow xs">Raised brows extra small</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="raised brow s">Raised brows small</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="raised brow m">Raised brows medium</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="raised brow l">Raised brows large</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="frown xs">Frown extra small</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="frown s">Frown small</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="frown m">Frown medium</button>
        <button class="filterDiv brow" id=""><img src="/img/lookleft.png" alt="frown l">Frown large</button>

        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding s">Nodding small</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding m">Nodding medium</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding l">Nodding large</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding slow">Nodding slow</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding average">Nodding average</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="nodding fast">Nodding fast</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="shaking head slow">Shaking head slow</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="shaking head av">Shaking head average</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="shaking head f">Shaking head fast</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="lean in">Lean in 1</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="lean in">Lean in 2</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="lean in nod">Lean in nodding</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="lean in nod">Lean in nodding 2</button>
        <button class="filterDiv head" id=""><img src="/img/lookleft.png" alt="turn left">Turn left</button>
        <button class="filterDiv head" id="lookButton"><img src="/img/lookleft.png" alt="turn right">Turn right</button>

        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Default center">Default center</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Face in center">Face in center</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="upper body visible">Upper body visible</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="upper body">Upper body (zoomed out)</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat small left">Screen flat small left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat small right">Screen flat small right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat medium left">Screen flat medium left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat medium right">Screen flat medium right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar zoom out default center">screen flat large avatar zoom out default center</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar max zoom in off center left">Screen flat large avatar max zoom in off center left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar max zoom in off center up">Screen flat large avatar max zoom in off center up</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat  large no avatar">Screen flat large no avatar</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="avatar">Screen flat large avatar devault left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="avatar small left ">Screen flat large avatar small left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar default right">Screen flat large avatar default right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar medium right">Screen flat large avatar medium right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen flat large avatar small right">Screen flat large avatar small right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled medium left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled small left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled xsmall left</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled medium right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled small right</button>
        <button class="filterDiv position" id=""><img src="/img/lookleft.png" alt="Screen angled">Screen angled xsmall right</button>

        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="p">p viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="t">t viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="S">S viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="T">T viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="f">f viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="k">k viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="i">i viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="r">r viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="s">s viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="u">u viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="u_soft">u_soft viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="@">@ viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="a">a viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="e">e viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="E">E viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="o">o viseme</button>
        <button class="filterDiv visemes" id=""><img src="/img/lookleft.png" alt="O">O viseme</button>


    <!--Deze buttons zijn gelinked aan de button die in de div animation zit. Voor deze commands heb je een andere button-->
        <button class="filterDiv animation" id=""><img src="/img/lookleft.png" alt="question">Question</button>
        <button class="filterDiv animation" id=""><img src="/img/openmouth.png" alt="friendly">Friendly</button>
        <button class="filterDiv animation" id=""><img src="/img/lookright.png" alt="surprise">Surprise</button>
        <button class="filterDiv animation" id=""><img src="/img/closedmouth.png" alt="disapproval">Disapproval</button>
        <button class="filterDiv animation" id=""><img src="/img/lookleft.png" alt="agreement">Agreement</button>
        <button class="filterDiv animation" id=""><img src="/img/lookright.png" alt="disagreement">Disagreement</button>

       

    </div>

<!--<ul class="eyes">
    <h2 class="filterDiv eyess">Eyes</h2>
<li><button class="filterDiv eyes" id="lookButton">Look at camera</button></li>
<li><button class="filterDiv eyes" id="lookLeftButton">Look left</button></li>
<li><button class="filterDiv eyes" id="lookRightButton">Look right</button></li>
<li><button class="filterDiv eyes" id="lookDownButton">Look down</button></li>
</ul>

     <ul class="eyebrows">
        <li><button id="eyebrowsRaiseButton">Raised eyebrows</button></li>
        <li><button id="eyebrowsSmallButton">Raised eyebrows small</button></li>
        <li><button id="frowningButton">Frown</button></li>
        <li><button id="frownSmallButton">Frown small</button></li>
    </ul>


    <ul class="mouth">
        <li><button id="smileButton">Smile</button></li>
        <li><button id="mouthButton">Mouth open</button></li>
        <li><button id="mouthTeethButton">Mouth open teeth</button></li>
    </ul>


    <ul class="movements">
        <li><button id="nodButton">Nodding</button></li>
        <li><button id="shakeSlowButton">Shake slow</button></li>
        <li><button id="shakeFastButton">Shake fast</button></li>
        <li><button id="leanInButton">Lean in</button></li>
    </ul>

    <ul class="expressions">
        <li><button id="questionButton">Question</button></li>
        <li><button id="friendlyButton">Friendly</button></li>
        <li><button id="agreeButton">Agreement</button></li>
        <li><button id="disagreeButton">Disagreement</button></li>
    </ul>

    <ul class="camera">
        <li><button id="centerButton">Default center</button></li>
        <li><button id="zoomOutRightButton">Zoom out left</button></li>
        <li><button id="zoomOutLeftButton">Zoom out right</button></li>
    </ul> -->
</section>


