<link href="/css/commands.css" rel="stylesheet">

<section class="commandList">
    <h2>Variations</h2>
    <ul class="eyes">
        <li>
            <div class="testholder"></div>
            <button id="lookButton">Look at camera</button>
        </li>
        <li>
            <img src="/public/img/placeholder.png" alt="">
            <button id="lookLeftButton">Look left</button>
        </li>
        <li><button id="lookRightButton">Look right</button></li>
        <li><button id="lookDownButton">Look down</button></li>
    </ul>

    <!-- <ul class="eyebrows">
        <li><button id="eyebrowsRaiseButton">Raised eyebrows</button></li>
        <li><button id="eyebrowsSmallButton">Raised eyebrows small</button></li>
        <li><button id="frowningButton">Frown</button></li>
        <li><button id="frownSmallButton">Frown small</button></li>
    </ul>


    <ul class="mouth">
        <li><button id="smileButton">Smile</button></li>
        <li><button id="mouthButton">Mouth open</button></li>
        <li><button id="mouthTeethButton">Mouth open teeth</button></li>
    </ul>


    <ul class="movements">
        <li><button id="nodButton">Nodding</button></li>
        <li><button id="shakeSlowButton">Shake slow</button></li>
        <li><button id="shakeFastButton">Shake fast</button></li>
        <li><button id="leanInButton">Lean in</button></li>
    </ul>

    <ul class="expressions">
        <li><button id="questionButton">Question</button></li>
        <li><button id="friendlyButton">Friendly</button></li>
        <li><button id="agreeButton">Agreement</button></li>
        <li><button id="disagreeButton">Disagreement</button></li>
    </ul>

    <ul class="camera">
        <li><button id="centerButton">Default center</button></li>
        <li><button id="zoomOutRightButton">Zoom out left</button></li>
        <li><button id="zoomOutLeftButton">Zoom out right</button></li>
    </ul> -->
</section>

<script src="/script/chatbot.js"></script>
