<link href="/css/commands.css" rel="stylesheet">
<link href="/css/filter.css" rel="stylesheet">
<section class="commandList">
    <div class="filtercommands" >  <div id="myBtnContainer">
        <!--hier staan de categorieen buttons, je klikt op deze buttons en dan krijg je meerdere variaties te zien-->
          <button class="btn" onclick="filterSelection('mouth'); addEditor()"><img src="/img/category_mouth.png" alt="">Mouth</button>
          <button class="btn" onclick="filterSelection('eyes'); addEditor()"><img src="/img/category_eyes.png" alt="">Eyes</button>
          <button class="btn" onclick="filterSelection('brow'); addEditor()"><img src="/img/category_brows.png" alt="">Brows</button>
          <button class="btn" onclick="filterSelection('head'); addEditor()"><img src="/img/category_head.png" alt="">Head</button>
          <button class="btn" onclick="filterSelection('position'); addEditor()"><img src="/img/category_position.png" alt="">Positions</button>
          <button class="btn" onclick="filterSelection('background'); addEditor()"><img src="/img/category_background.png" alt="">Background</button>
          <button class="btn" onclick="filterSelection('foreground'); addEditor()"><img src="/img/category_foreground.png" alt="">foreground</button>
          <button class="btn" onclick="filterSelection('animation'); addEditor()"><img src="/img/category_emotions.png" alt="">Emotions</button>
          <button class="btn" id="deletebtn" onclick="filterSelection('textspeech')"><img src="/img/category_textspeech.png" alt="">Speech</button>
        </div>

    <div class="autoAnimation">
        <!--hier is een apart div gemaakt, omdat dit button niet hoort bij de andere buttons. Dit is ook meteen gelinkt aan de buttons die animations hebben-->
    <button class="btn" id="deletebtn2" onclick="filterSelection('various'); addEditor()">
    <img src="/img/various.png" alt="various">Various</button> 
    </div>
      </div>
    </div>
     <div class="commands">
        <h2>Variations <i class="fa-solid fa-circle-question"></i></h2>
       
     <div class="container">
        <button class="filterDiv mouth" id="closedMouthButton"><img src="/img/closedmouth.png" alt="closedmouth">Closed mouth</button>
        <button class="filterDiv mouth" id="mouthButton"><img src="/img/openmouth.png" alt="openmouth"> Mouth open</button>
        <button class="filterDiv mouth" id="mouthTeethButton"><img src="/img/mouthteeth.png" alt="mouthteeth"> Mouth open with teeth</button>
        <button class="filterDiv mouth" id="smileSmallButton"><img src="/img/smallsm.png" alt="smile small">Smile small</button>
        <button class="filterDiv mouth" id="smileMediumButton"><img src="/img/medsmile.png" alt="smile medium">Smile medium</button>
        <button class="filterDiv mouth" id="smileLargeButton"><img src="/img/smilelarge.png" alt="smile large">Smile large</button>
        <button class="filterDiv mouth" id="smileXlButton"><img src="/img/smilexl.png" alt="smile xl">Smile extra large</button>

        <button class="filterDiv eyes" id="lookrButton"><img src="/img/lookright.png" alt="lookright">Look right</button>
        <button class="filterDiv eyes" id="lookLeftButton"><img src="/img/lookleft.png" alt="lookleft">Look left</button>
        <button class="filterDiv eyes" id="lookDownButton"><img src="/img/lookdown.png" alt="look down">Look down</button>
        <button class="filterDiv eyes" id="lookDownLeftButton"><img src="/img/lookdownl.png" alt="look down l">Look down left</button>
        <button class="filterDiv eyes" id="lookDownRightButton"><img src="/img/lookdownr.png" alt="look down r">Look down right</button>
        <button class="filterDiv eyes" id="lookUpButton"><img src="/img/lookup.png" alt="look up">Look up</button>
        <button class="filterDiv eyes" id="lookAtCamButton"><img src="/img/look.png" alt="camera">Look at camera</button>
        <button class="filterDiv eyes" id="lookUpLeftButton"><img src="/img/lookupl.png" alt="look up l">Look up left</button>
        <button class="filterDiv eyes" id="lookUpRightButton"><img src="/img/lookupr.png" alt="look up r">Look up right</button>

        <button class="filterDiv brow" id="eyebrowRaiseXSButton"><img src="/img/rbxs.png" alt="raised brow xs">Raised brows extra small</button>
        <button class="filterDiv brow" id="eyebrowsSmallButton"><img src="/img/rbs.png" alt="raised brow s">Raised brows small</button>
        <button class="filterDiv brow" id="eyebrowsRaiseButton"><img src="/img/rbm.png" alt="raised brow m">Raised brows medium</button>
        <button class="filterDiv brow" id="eyebrowsRaiseLButton"><img src="/img/rbl.png" alt="raised brow l">Raised brows large</button>
        <button class="filterDiv brow" id="frownXSButton"><img src="/img/frownxs.png" alt="frown xs">Frown extra small</button>
        <button class="filterDiv brow" id="frownSmallButton"><img src="/img/frowns.png" alt="frown s">Frown small</button>
        <button class="filterDiv brow" id="frowningButton"><img src="/img/frownm.png" alt="frown m">Frown medium</button>
        <button class="filterDiv brow" id="frownLButton"><img src="/img/frownl.png" alt="frown l">Frown large</button>
        <button class="filterDiv brow" id="leftBrowRaiseButton"><img src="/img/leftbrow.png" alt="leftbrow">Left brow raise</button>
        <button class="filterDiv brow" id="rightBrowRaiseButton"><img src="/img/rightbrow.png" alt="rightbrow">Right brow raise</button>
        <button class="filterDiv brow" id="quizicalButton"><img src="/img/quizical.png" alt="quizical">Brows in (quizical)</button>
        <button class="filterDiv brow" id="outerBrowsButton"><img src="/img/outer.png" alt="outer">Outer brows up</button>
        <button class="filterDiv brow" id="browsInRaisedButton"><img src="/img/browsin.png" alt="Brows in">Brows in & raised</button>
        <button class="filterDiv brow" id="browsDownScrunchButton"><img src="/img/browsdown.png" alt="brows down">Brows down & scrunched</button>

        <button class="filterDiv head" id="nodSmallButton"><img src="/img/noddings.png" alt="nodding s">Nodding small</button>
        <button class="filterDiv head" id="noddingButton"><img src="/img/noddingm.png" alt="nodding m">Nodding medium</button>
        <button class="filterDiv head" id="nodLargeButton"><img src="/img/noddingl.png" alt="nodding l">Nodding large</button>
        <!-- <button class="filterDiv head" id="nodAverageButton"><img src="/img/noddingav.png" alt="nodding average">Nodding average</button> -->
        <button class="filterDiv head" id="nodSlowButton"><img src="/img/noddingslow.png" alt="nodding slow">Nodding slow</button>
        <button class="filterDiv head" id="nodFastButton"><img src="/img/noddingfast.png" alt="nodding fast">Nodding fast</button>
        <button class="filterDiv head" id="shakeSlowButton"><img src="/img/shakingheads.png" alt="shaking head slow">Shaking head slow</button>
        <button class="filterDiv head" id="shakeButton"><img src="/img/shakingheadav.png" alt="shaking head av">Shaking head average</button>
        <button class="filterDiv head" id="shakeFastButton"><img src="/img/shakingheadf.png" alt="shaking head f">Shaking head fast</button>
        <button class="filterDiv head" id="leanInButton"><img src="/img/lean.png" alt="lean in">Lean in 1</button>
        <button class="filterDiv head" id="leanIn2Button"><img src="/img/lean2.png" alt="lean in">Lean in 2</button>
        <button class="filterDiv head" id="leanInNodButton"><img src="/img/leaninn.png" alt="lean in nod">Lean in nodding</button>
        <button class="filterDiv head" id="leanInNod2Button"><img src="/img/leaninn2.png" alt="lean in nod">Lean in nodding 2</button>
        <button class="filterDiv head" id="turnLeftButton"><img src="/img/tl.png" alt="turn left">Turn left</button>
        <button class="filterDiv head" id="turnRightButton"><img src="/img/tr.png" alt="turnright">Turn right</button>

        <button class="filterDiv position" id="closeUpButton"><img src="/img/default.png" alt="closeup">Close up</button>
        <button class="filterDiv position" id="screenNoAvatarButton"><img src="/img/noavatar.png" alt="no avatar">L:screen no avatar</button>
        <button class="filterDiv position" id="upperBodyVisibleButton"><img src="/img/upperbody.jpg" alt="upper body visible">Upper body visible</button> <!--nog doen-->
        <button class="filterDiv position" id="upperBodyVisibleZoomedButton"><img src="/img/upperbodyzoomed.jpg" alt="upper body">Upper body (zoomed out)</button> <!--nog doen-->
        <button class="filterDiv position" id="screenRightButton"><img src="/img/screenleft.png" alt="Screen small right">S:screen S:avatar right</button> 
        <button class="filterDiv position" id="screenLeftButton"><img src="/img/screenright.png" alt="Screen small left">S:screen S:avatar left</button>
        <button class="filterDiv position" id="screenAvatarLeftButton"><img src="/img/smr.png" alt="Screen medium left">M:screen S:avatar left</button>
        <button class="filterDiv position" id="screenAvatarRightButton"><img src="/img/sml.png" alt="Screen medium right">M:screen S:avatar right</button>
        <button class="filterDiv position" id="screenAvatarCenterLButton"><img src="/img/lm.png" alt="LM">L: Screen L: avatar center</button>
        <!-- <button class="filterDiv position" id="screenAvatarLeftLButton"><img src="/img/lscreenlav.png" alt="center up">L: Screen L:avatar left</button> 
        <button class="filterDiv position" id="screenAvatarRightLButton"><img src="/img/avatarl.png" alt="no avatar">L:screen L:avatar right</button> -->
        <button class="filterDiv position" id="screenAvatarCenterMButton"><img src="/img/lscreenmavatarcenter.png" alt="avatar">L: Screen M: Avatar center</button>
        <button class="filterDiv position" id="screenAvatarLeftMButton"><img src="/img/medleft.png" alt="avatarmedium">L: Screen M: Avatar left</button>
        <button class="filterDiv position" id="screenAvatarRightMButton"><img src="/img/avatarlr.png" alt="avatar small left ">L: Screen M: Avatar right</button>
        <button class="filterDiv position" id="screenAvatarLeftSButton"><img src="/img/avatarsl.png" alt="avatar medium right">L: Screen S: Avatar left</button>
        <button class="filterDiv position" id="screenAvatarRightSButton"><img src="/img/lscreensavatarright.png" alt="avatar small right">L: Screen S: Avatar right</button>
        
        <button class="filterDiv animation" id="friendlyButton"><img src="/img/friendly.png" alt="friendly">Friendly</button>
        <button class="filterDiv animation" id="surpriseButton"><img src="/img/surprise.png" alt="surprise">Surprise</button>
        <button class="filterDiv animation" id="disapprovalButton"><img src="/img/disapproval.png" alt="disapproval">Disapproval</button>
        <button class="filterDiv animation" id="questionButton"><img src="/img/question.png" alt="question">Question</button>
        <button class="filterDiv animation" id="agreeButton"><img src="/img/agreement.png" alt="agreement">Agreement</button>
        <button class="filterDiv animation" id="disagreeButton"><img src="/img/disagreement.png" alt="disagreement">Disagreement</button>

        <!--<button class="filterDiv background" onClick="ssmlAppend(&quot;<trl-content BgScreenUrl='https://i.imgur.com/FFMbgkm.mp4' />&quot;);"><img src="/img/category_background.png" alt="tulpen">kijk ik kan toveren</button>-->
        <button class="filterDiv background" onClick="ssmlAppend(&quot;<trl-content BgScreenUrl='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/officeafbeelding.png' />&quot;);"><img src="/img/office-background.png" alt="office"></button>

        <button class="filterDiv background" onClick="ssmlAppend(&quot;<trl-content BgScreenUrl='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/tulpenveld.jpg' />&quot;);"><img src="/img/tulpen-background.png" alt="tulpen"></button>

        <button class="filterDiv background" onClick="ssmlAppend(&quot;<trl-content BgScreenUrl='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/molen.jpg' />&quot;);"><img src="/img/molen-background.png" alt="molen"></button>

        <button class="filterDiv background" onclick="ssmlAppend(&quot;<trl-content BgScreenUrl='https://www.youtube.com/embed/nqeJlqc3JcU?autoplay=1&loop=1'/>&quot;);"><img src="/img/MicrosoftTeams-image.png" alt="tulpen"></button>


        <button class="filterDiv foreground"  onClick="ssmlAppend(&quot;<trl-content position='ScreenFlatSmallRight' showMovingScreen='true' trl-content screen='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/officeafbeelding.png'/>&quot;);"><img src="/img/office-background.png" alt="office"></button>

        <button class="filterDiv foreground" onClick="ssmlAppend(&quot;<trl-content position='ScreenFlatSmallRight' showMovingScreen='true' trl-content screen='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/tulpenveld.jpg' />&quot;);"><img src="/img/tulpen-background.png" alt="tulpen"></button>

        <button class="filterDiv foreground" onClick="ssmlAppend(&quot;<trl-content position='ScreenFlatSmallRight' showMovingScreen='true' trl-content screen='https://raw.githubusercontent.com/laibaaac/virtual-human/development-lb/public/backgrounds/molen.jpg' />&quot;);"><img src="/img/molen-background.png" alt="molen"></button>


        <button class="filterDiv foreground" onclick="ssmlAppend(&quot;<trl-content screen='https://www.youtube.com/embed/nqeJlqc3JcU?autoplay=1&loop=1' />&quot;);"><img src="/img/MicrosoftTeams-image.png" alt="tulpen"></button>

        
        
        <button class="filterDiv animation" id="friendlyButton"><img src="/img/friendly.png" alt="friendly">Friendly</button>
        <button class="filterDiv animation" id="surpriseButton"><img src="/img/surprise.png" alt="surprise">Surprise</button>
        <button class="filterDiv animation" id="disapprovalButton"><img src="/img/disapproval.png" alt="disapproval">Disapproval</button>
        <button class="filterDiv animation" id="agreementButton"><img src="/img/agreement.png" alt="agreement">Agreement</button>
        <button class="filterDiv animation" id="disagreementButton"><img src="/img/disagreement.png" alt="disagreement">Disagreement</button>

<ul class="various" id="variousStyling">
   <h1 class="filterDiv various" id="">Various</h1> 
     <p class="filterDiv various" id="">There are a hand full of other options that you can choose to implement in your Digital Human like visemes, lighting and breaks.</p> 
     <p class="filterDiv various" id="">Check out all the options in the<a href="/list" target="_blank">animation catalog</a></p>
  

</ul>
      

    </div>

</section>


