

<textarea id="textReturn" name="code" rows="4" cols="84"></textarea>


<h2>Add duration</h2>
<button id="plusOne" class="plus"  >Add +1</button>
<button class="minus" id="minusOne" >Remove -1</button>


<script src="/script/chatbot.js"></script>