

<body>
    <section class="codeEditor">
     
        <h2 id="codetitle">Code editor <img src="/img/circle-info-solid.svg" alt="" class="infoSvg2"> <p class="infoTekst2">When an animation has been chosen you can fine-tune the animation in the code editor. Update the code and add them to your timeline by pressing the “Add to animation X” button.
            If you want to reset the code to its original values you can press the default button. </p></h2>
          
          <section id="explainButtons" class="filterDiv textspeech"> <p id="explanation"></p>
            <a href="/list">
            <ul class="wrapper">
       <li> <img src="img/lookleft.png" class="filterDiv textspeech"  id="linkToList" alt=""><li>
        <li><img src="img/lookleft.png" class="filterDiv textspeech"  id="linkToList" alt=""><li>
        <li><img src="img/lookleft.png" class="filterDiv textspeech"  id="linkToList" alt=""><li>
        </ul></a>
            </section>
      
        <textarea id="textReturn" placeholder="You have not added any animations yet. Choose from the categories in the animation editor above to add and/or adjust an animation." name="code" rows="4" cols="85"></textarea>
       
        <section class="buttonStyling" id="duraCss">
        <p>Duration</p>
        <section>
            <div>
                <button class="minus" id="minusOne">-</button>
                <button class="plus" id="plusOne">+</button>
            </div>
            <p id="durationmeter">0s</p>
        </section>
    </section>

    <section class="buttonStyling" id="blendStCss">
        <p>Blend start</p>
        <section>
            <div>
                <button class="minus" id="stMinusOne">-</button>
                <button class="plus" id="stPlusOne">+</button>
            </div>
            <p id="blendStmeter">0s</p>
        </section>
    </section>

    <section class="buttonStyling" id="blendEnCss">
        <p>Blend end</p>
        <section>
            <div>
                <button class="minus" id="enMinusOne">-</button>
                <button class="plus" id="enPlusOne">+</button>
            </div>
            <p id="blendEnmeter">0s</p>
        </section>
    </section>

    <section class="buttonStyling" id="speedCss">
        <p>speed</p>
        <section>
            <div>
                <button class="minus" id="spMinusOne">-</button>
                <button class="plus" id="spPlusOne">+</button>
            </div>
            <p id="speedmeter">0s</p>
        </section>
    </section>

    <section class="changesAdd">
        <ul>
            <li> 
                <button id="eyebrowSmallUpdate">Apply changes to small!</button>
                <button id="eyebrowRaiseUpdate">Apply changes to raise</button>
                <button id="smileUpdate">Apply changes to smile</button>
                <button id="frownUpdate">Apply changes frown</button>
                <button id="frownSmallUpdate">Apply to small frown</button>
                <button id="lookDownUpdate">apply to look down</button>
                <button id="lookRightUpdate">apply to look right</button>
                <button id="lookLeftUpdate">apply to look left</button>
                <button id="mouthUpdate">apply changes to mouth</button>
                <button id="mouthTeethUpdate">apply to mouth teeth</button>
                <button id="nodUpdate">apply changes to nod</button>
                <button id="shakeSlowUpdate">Apply to shake slow</button>
                <button id="shakeFastUpdate">Apply to shake fast</button>
                <button id="leanInUpdate">Apply changes to lean in</button>
                <button id="closedMouthUpdate">Apply changes closed mouth</button>
                <button id="mouthTeethUpdate">Apply changes to mouth teeth</button>
                <button id="smileSmallUpdate">Apply changes to smile small</button>
                <button id="smileMediumUpdate">Apply changes to smile medium</button>
                <button id="smileLargeUpdate">Apply changes to smile large</button>
                <button id="smileXlUpdate">Apply changes to smile XL</button>
                <button id="lookDownLeftUpdate">Apply changes to look down left</button>
                <button id="lookDownRightUpdate">Apply changes to look down right</button>
                <button id="lookAtCamUpdate">Apply changes to look at cam</button>
                <button id="lookUpLeftUpdate">Apply changes to look up left</button>
                <button id="lookUpUpdate">Apply changes to look up</button>
                <button id="lookUpRightUpdate">Apply changes to look up right </button>
                <button id="eyebrowRaiseXSUpdate">Apply changes to eyebrows Raise XS</button>
                <button id="eyebrowSmallUpdate">Apply changes to eyebrow small</button>
                <button id="eyebrowRaiseUpdate">Apply changes eyebrow raise</button>
                <button id="eyebrowRaiseLUpdate">Apply changes eyebrow raise L</button>
                <button id="leftBrowRaiseUpdate">Apply changes to left brow</button>
                <button id="rightBrowRaiseUpdate">Apply changes to right brow</button>
                <button id="quizicalUpdate">Apply changes to quizical</button>
                <button id="outerBrowsUpdate">Apply changes to brows down</button>
                <button id="browsInUpdate">Apply changes to brows in</button>
                <button id="browsDownScrunchUpdate">Apply changes to scrunched brows</button>
                <button id="frownXSUpdate">Apply changes to frown XS</button>
                <button id="smallFrownUpdate">Apply changes to small frown</button>
                <button id="frownLUpdate">Apply changes frown L</button>
                <button id="nodSmallUpdate">Apply changes to nod small</button>
                <button id="nodFastUpdate">Apply changes to nod fast</button>
                <button id="nodLargeUpdate">Apply changes to nod large</button>
                <button id="nodAverageUpdate">Apply changes to nod average</button>
                <button id="nodSlowUpdate">Apply changes to nod slow</button>
                <button id="shakeUpdate">Apply changes to shake</button>
          
            </li>
            
            <li>   
                <button id="addAnimation">add to animations</button>
            </li>
        </ul>
    </section>
</body>
