<link href="/css/header.css" rel="stylesheet">

<header>
    <nav>
        <img class="logo" src="/img/logo_wit.png">

        <ul>
            <li>
                <a href="/">animations dashboard</a>
            </li>

            <li>
                <a href="/start">User guide</a>
            </li>
        </ul>
    </nav>

</header>    

