
 
    <link href="/css/header.css" rel="stylesheet">

    
<nav>
<<<<<<< Updated upstream
    <a href="/start.ejs">start</a>
    <a href="/index.ejs">dashboard</a>
    <a href="/list.ejs">list</a>
=======
    <a href="/start">start</a>
    <a href="/">dashboard</a>
    <a href="/list">list</a>
>>>>>>> Stashed changes
</nav>
