
 
    <link href="/css/header.css" rel="stylesheet">

    
<nav>
    <a href="/" >dashboard</a>
    
    <a href="/start">Getting started</a>
    
    <a href="/list">Full list</a>
</nav>
<img class="logo" src="/img/logo.png">

<script src="/script/chatbot.js"></script>