<link href="/css/header.css" rel="stylesheet">

<header>
    <nav>
        <a href="/" class="logo"><img src="img/logo_wit.png" img class="logo"></a>

        <ul>
            <li>
                <a href="/">animation dashboard</a>
            </li>

            <li>
                <a href="/start">User guide</a>
            </li>
            <li>
                <a href="/list">Catalog</a>
            </li>
        </ul>
        </ul>
    </nav>

</header>    

