<link href="/css/img.css" rel="stylesheet">
<section class="imageArea">
<img class="placeholder" src="/img/placeholder.png"></img>

<textarea id="sequence" placeholder="sequence" cols="10" rows="5"></textarea>
</section>