<section class="imageArea">
    <div class="preview">
        <img class="placeholder" src="/img/placeholder.png"></img>
        <div class="previewbuttons">
            <button class="playpauseButton"></button>
            <button class="stopButton"></button>
            <button class="fullscreenButton"></button>
        </div>
    </div>

    <div class="timelineArea">
        <h2>Timeline</h2>
        <div class="timeline">
            <!-- Hier de timeline nog neerzetten -->
        </div>

        <h2>Copy your code</h2>
        <textarea id="sequence" placeholder="You have not added any animations yet. Choose from the categories in the animation editor on the right to add and/or adjust an animation." cols="10" rows="5"></textarea>

        <div class="timelineButtons">
            <div>
                <button id="copyTime">Copy code</button>
                <button><img src="/img/pdf_icon.svg" alt="pdf icon"></button>
            </div>
            <button>reset</button>
        </div>
    </div>
    
</section>
