<link href="/css/img.css" rel="stylesheet">
<section class="imageArea">
<img class="placeholder" src="/img/placeholder.webp"></img>
<br>
<textarea id="textFinal" name="code" rows="4" cols="84">
<p> mooi</p>
</textarea>
</section>