
<section class="imageArea">


    <div class="timelineArea">
        <h2>Copy your code <img src="/img/circle-info-solid.svg" alt="" class="infoSvg3"><p class="infoTekst3">Here you can see the variations that you added. The full code can be seen in the bottom. It is possible to change values manually by changing the text. 
            The timeline will show the order of the animations that are added. If you want to delete the full timeline you can press the reset button in the bottom right.</p></h2>
        <!-- <textarea id="sequence" placeholder="You have not added any animations yet. Choose from the categories in the animation editor on the right to add and/or adjust an animation." cols="10" rows="5"></textarea> -->
        <textarea id="plain-textarea-id" class='tinput active' placeholder="You have not added any animations yet. Choose from the categories in the animation editor on the right to add and/or adjust an animation." cols="100" rows="5"></textarea>
        <div class="timelineButtons">
            <div>
                <button class="button button-light-grey"
                value="Send" id="sendMsgBtn" onclick="sendMessageToVPS();" /> Play animation</button>
                <button id="copyTime">Copy code</button>
                <button><img src="/img/pdf_icon.png" alt="pdf icon"></button>
            </div>
            <button>Start again</button>
        </div>
    </div>
    
</section>
