<%- include('avatar') %>
<section class="imageArea">


   

    <div class="timelineArea">
        <h2>Timeline</h2>
        <div class="timeline">
            
            <!-- Hier de timeline nog neerzetten -->

            <!--<iframe height="700px" allow="camera; microphone; fullscreen" src="https://www.trulience.com/avatar/8056288527266237139?msgOnConnect=Hi+there.+My+name+is+Truly.+You+can+speak+or+type+to+me.+If+I+don`t+understand+something,+I+will+repeat+it+back+to+you.&chatScreenBGColor=#e7e7e7&userChatBubbleBGColor=#ff6200&avatarChatBubbleBGColor=#000000&userChatBubbleBorderColor=none&avatarChatBubbleBorderColor=none&userChatBubbleTextColor=white&avatarChatBubbleTextColor=white&inputBoxBGColor=#fff&inputBoxBorderColor=#fff&inputBoxTextColor=inherit&sendButtonBGColor=white&sendButtonArrowColor=#000000&sendButtonBorderColor=none&borderColorBetweenInputAndScreen=#f0f0f0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            -->
        </div>

        <h2>Copy your code</h2>
        <textarea id="sequence" placeholder="You have not added any animations yet. Choose from the categories in the animation editor on the right to add and/or adjust an animation." cols="10" rows="5"></textarea>

        <div class="timelineButtons">
            <div>
                <button id="copyTime">Copy code</button>
                <button><img src="/img/pdf_icon.svg" alt="pdf icon"></button>
            </div>
            <button>reset</button>
        </div>
    </div>
    
</section>
