<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <section class="partials">
            <section class="partials_left">
                <div class="left__right">
                    <h1>Live preview</h1>
                    <%- include('partials/img') %>
                </div>
                
            </section>

            <sections class="partials_right">
                <h1>Animation editor</h1>

                <section class="filter&commands">
                    <%- include('partials/commands') %>
                </section>

                <section class="editor">
                    <%- include('partials/editor') %>
                </section>
            </sections>
        </section>
    </main>
</body>
<script src="/script/filter.js"></script>
<script src="/script/chatbot.js"></script>
<script src="/script/list.js"></script>


</html>