<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   
    <%- include('partials/header') %>
    <section class="listIntro">
    <ul class=titlebar>
        <li> <a href="/start">User guide</a> </li> 
            <li><p>></p></li>
<li> <a href="/list">Animation Catalog</a></li>
</ul>
<h1 class="listTitle">Animation Catalog</h1> 
<p class="introText">On this page you can find all of the available animation commands you can use for your system. This can be handy if you are searching for a certain animation or if you want to have a full view of what you can use to adjust your Digital Human’s behaviour to your liking. Select a category to find all of the corresponding animations and code strings. </p>
            </section>


<h2 class="titles">Eyes</h2>
<ul class="list">
   <li> <img src="/img/placeholder.png"> </li>
    <li>
        <h2>Eyebrow Raise</h2>
        <a>Click here to copy! (not functional yet)</a>
    </li>
</ul>
<ul class="list">
    <li> <img src="/img/placeholder.png"> </li>
     <li>
         <h2>Wink</h2>
         <a>Click here to copy! (not functional yet)</a>
     </li>
 </ul>
<h2 class="titles">Mouth</h2>
<ul class="list">
    <li> <img src="/img/placeholder.png"> </li>
     <li>
         <h2>Smile large</h2>
         <a>Click here to copy! (not functional yet)</a>
     </li>
 </ul>
 <ul class="list">
 <li> <img src="/img/placeholder.png"> </li>
 <li>
     <h2>Smile small</h2>
     <a>Click here to copy! (not functional yet)</a>
 </li>
</ul>
</body>
<script src="/script/list.js"></script>

</html>