<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   
    <%- include('partials/header') %>
    <section class="listIntro">
    <ul class=titlebar>
        <li> <a href="/start.ejs">User guide</a> </li> 
            <li><p>></p></li>
<li> <a href="/start.ejs">Animation Catalog</a></li>
</ul>
<h1 class="listTitle">Animation Catalog</h1> 
<p class="introText">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, id ea elit laborum nisi excepteur culpa eu incididunt laboris dolore eu anim deserunt proident sint deserunt aute voluptate ut occaecat duis aute dolor cupidatat excepteur eu elit dolore consequat. Culpa dolor excepteur sunt fugiat pariatur dolore dolor enim ut anim ut. Duis sint aliquip ut reprehenderit aliquip magna minim commodo commodo et laborum irure sunt cupidatat qui tempor et ex quis ullamco tempor elit magna enim ad </p>
            </section>


<h2 class="titles">Eyes</h2>
<ul class="list">
   <li> <img src="/img/placeholder.png"> </li>
    <li>
        <h2>Code string</h2>
        <a>copieer hem door te klikken (werkt nog nie)</a>
    </li>
</ul>
<ul class="list">
    <li> <img src="/img/placeholder.png"> </li>
     <li>
         <h2>Code string</h2>
         <a>copieer hem door te klikken (werkt nog nie)</a>
     </li>
 </ul>
<h2 class="titles">Crazy animations</h2>
<ul class="list">
    <li> <img src="/img/placeholder.png"> </li>
     <li>
         <h2>Code string</h2>
         <a>copieer hem door te klikken (werkt nog nie)</a>
     </li>
 </ul>
</body>
<script src="/script/list.js"></script>

</html>