<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   
    <%- include('partials/header') %>
    <section class="listIntro">
        <ul class=titlebar>
            <li> <a href="/start">User guide</a> </li> 
            <li><p>></p></li>
            <li> <a href="/list">Animation Catalog</a></li>
        </ul>
        <h1 class="listTitle">Animation Catalog</h1> 
        <p class="introText">On this page you can find all of the available animation commands you can use for your system. This can be handy if you are searching for a certain animation or if you want to have a full view of what you can use to adjust your Digital Human’s behaviour to your liking. Select a category to find all of the corresponding animations and code strings. </p>
        
        <ul class="listFilter">
            <li>
                <a href="#listEyes">
                    <div>
                        <img src="/img/eyes.png" alt="">
                    </div>
                    <p>Eyes</p>
                </a>
            </li>

            <li>
                <a href="#listBrows">
                    <div>
                        <img src="/img/brows.png" alt="">
                    </div>
                    <p>Brows</p>
                </a>
            </li>
            <li>
                <a href="#listMouth">
                    <div>
                        <img src="/img/mainmout.png" alt="">
                    </div>
                    <p>Mouth</p>
                </a>
            </li>

            <li>
                <a href="#listHead">
                    <div>
                        <img src="/img/head.png" alt="">
                    </div>
                    <p>Head</p>
                </a>
            </li>

            <li>
                <a href="#listEmotions">
                    <div>
                        <img src="/img/emotion.png" alt="">
                    </div>
                    <p>Emotions</p>
                </a>
            </li>

            <li>
                <a href="#listPositions">
                    <div>
                        <img src=" /img/position.png" alt="">
                    </div>
                    <p>Position</p>
                </a>
            </li>

            <li>
                <a href="#listBackground">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>
                    <p>Background</p>
                </a>
            </li>

            <li>
                <a href="#listForeground">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>                
                    <p>Foreground</p>
                </a>
            </li>

            <li>
                <a href="#listSubtitles">
                    <div>
                        <img src="/img/subtitles.png" alt="">
                    </div>
                    <p>Subtitles</p>
                </a>
            </li>

            <li>
                <a href="#listSpeechStyle">
                    <div>
                        <img src="/img/speechStyle.png" alt="">
                    </div>
                    <p>Speech Style</p>
                </a>
            </li>

            <li>
                <a href="#listSpeechBreak">
                    <div>
                        <img src="/img/speechBreak.png" alt="">
                    </div>
                    <p>Speech Break</p>
                </a>
            </li>

            <li>
                <a href="#listSpeechPitch">
                    <div>
                        <img src="/img/speechPitch.png" alt="">
                    </div>
                    <p>Speech Pitch</p>
                </a>
            </li>

            <li>
                <a href="#listSpeechSpeed">
                    <div>
                        <img src="/img/speechSpeed.png" alt="">
                    </div>
                    <p>Speech Speed</p>
                </a>
            </li>

            <li>
                <a href="#listSpeechVolume">
                    <div>
                        <img src="/img/speechVolume.png" alt="">
                    </div>
                    <p>Speech Volume</p>
                </a>
            </li>

            <li>
                <a href="#listVariousBreak">
                    <div>
                        <img src="/img/speechBreak.png" alt="">
                    </div>
                    <p>Various Break</p>
                </a>
            </li>

            <li>
                <a href="#listVariousVisemes">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>
                    <p>Various Visemes</p>
                </a>
            </li>

            <li>
                <a href="#listVariousLighting">
                    <div>
                        <img src="/img/VariousLighting.png" alt="">
                    </div>
                    <p>Various Lighting</p>
                </a>
            </li>
        </ul>
    </section>

    <section class="listSections">

        <section id="listEyes">
            <h2 class="titles">Eyes</h2>
            <ul>
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look at camera</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='camera' speed='3.5'/></textarea>
                    </div>
                </li>

                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='20,0,0' enable='true' speed='4' wait='2.5' returnSpeed='3.5' absolute='false' /><trl-anim type='aux' id='translateRotateLeftSmall' duration='2.5' />
                        </textarea>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='-20,0,0' enable='true' speed='4' wait='2.5' returnSpeed='3.5' absolute='false' /><trl-anim type='aux' id='translateRotateRightSmall' duration='2.5' />
                        </textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look down</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='0,0,-20' enable='true' speed='3.75' wait='2.5' returnSpeed='5.25' absolute='false' /><trl-anim type='aux' id='tiltDownLarge3' duration='2.5' />
                        </textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look up</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='0,0,20' enable='true' speed='4.5' wait='2.5' returnSpeed='6.25' absolute='false' /><trl-anim type='aux' id='tiltUpLarge3' duration='2.5' /></textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look down left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='20,0,-20' enable='true' speed='4.5' wait='2.5' returnSpeed='4.5' absolute='false' /><trl-anim type='aux' id='translateRotateLeftSmall1' duration='3.0' /><trl-anim type='aux' id='tiltLeftDownMedium3' duration='2.5' /></textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look down right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='-20,0,-20' enable='true' speed='4.5' wait='2.5' returnSpeed='5.5' absolute='false' /><trl-anim type='aux' id='translateRotateRightSmall1' duration='3.0' /><trl-anim type='aux' id='tiltRightDownMedium3' duration='2.5' /></textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look up left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='15,0,5' enable='true' speed='4.5' wait='2.5' returnSpeed='4.5' absolute='false' /><trl-anim type='aux' id='translateRotateLeftSmall' duration='2.5' /><trl-anim type='aux' id='tiltLeftUpMedium3' duration='2.5' /></textarea>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Look up right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                        <textarea name="" id="" cols="30" rows="10"><trl-config lookat='-15,0,5' enable='true' speed='4.5' wait='2.5' returnSpeed='5.5' absolute='false' /><trl-anim type='aux' id='translateRotateRightSmall' duration='2.5' /><trl-anim type='aux' id='tiltRightUpMedium3' duration='3.0' /></textarea>
                    </div>
                </li>
                 
            </ul>
        </section>

        <section id="listBrows">
            <h2>Brows</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Raised brows extra small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Raised brows small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Raised brows medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Raised brows large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Frown extra small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Frown small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Frown medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Frown large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Left brow raise</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Right brow raise</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Brows in (quizical)</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Outer brows up</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Brows in & raised</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Brows down & scrunched</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
            </ul>
        </section>

        <section id="listMouth">
            <h2>Mouth</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Mouth open</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Mouth open with teeth</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile extra large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                 
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Mouth frown</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
            </ul>
        </section>

        <section id="listHead">
            <h2>Head</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding slow</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding average</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Nodding fast</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Shaking head slow</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Shaking head average</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Shaking head fast</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lean in 1</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lean in 2</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lean in nodding 1</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lean in nodding 2</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Turn left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Turn right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listEmotions">
            <h2>Emotions</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Question</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Friendly</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
                
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Surprise</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Disapproval</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Agreement</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Disagreement</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listPositions">
            <h2>Positions</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Default center</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Upper body visible</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Upper body visible (zoomed out)</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat small left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat small right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat medium left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat medium right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar zoom out default center</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar max zoom in center up</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat no avatar</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar default left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar medium left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar small left</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar defaul right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar medium right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Screen flat large avatar small right</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listBackground">
            <h2>Background</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>COMING SOON</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>COMING SOON</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listForeground">
            <h2>Foreground</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>COMING SOON</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>COMING SOON</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSubtitles">
            <h2>Subtitles</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Changing subtitle visibility on / off</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSpeechStyle">
            <h2>Speech Style</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Affectionate</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Angry</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Assistant</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Calm</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Chat</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Cheerful</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Customer service</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Depressed</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Disgruntled</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Emberrassed</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Empathetic</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Envious</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Excited</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Fearful</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Friendly</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Gentle</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Hopeful</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lyrical</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>naration-professional</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Narration-relaxed</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Newscast</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Newscast-casual</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Newscast-formal</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Sad</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Serious</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Shouting</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Whispering</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Terrified</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Unfriendly</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSpeechBreak">
            <h2>Speech Break</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: None</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: X-weak</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: Weak</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: Medium (default)</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: Strong</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Strenght: X-strong</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSpeechPitch">
            <h2>Speech Pitch</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: Low</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: X-low</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: Medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: High</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: X-high</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Pitch: Default</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSpeechSpeed">
            <h2>Speech Speed</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: X-slow</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: Slow</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: Medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: Fast</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: X-fast</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Rate: Default</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listSpeechVolume">
            <h2>Speech Volume</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: Silent</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: X-soft</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: Soft</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: Medium</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: Loud</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: X-loud</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Volume: Default</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listVariousBreak">
            <h2>Various Break</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Break</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listVariousVisemes">
            <h2>Various Visemes</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>p Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>t Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>S Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>T Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>f Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>k Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>i Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>r Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>r_soft Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>s Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>u Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>u_soft Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>@ Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>a Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>e Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>E Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>o Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>O Viseme</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listVariousLighting">
            <h2>Various Lighting</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Lighting 0-41</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>
    </section>
</body>
<script src="/script/list.js"></script>

</html>