<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
   
    <%- include('partials/header') %>
    <section class="listIntro">
        <ul class=titlebar>
            <li> <a href="/start">User guide</a> </li> 
            <li><p>></p></li>
            <li> <a href="/list">Animation Catalog</a></li>
        </ul>
        <h1 class="listTitle">Animation Catalog</h1> 
        <p class="introText">On this page you can find all of the available animation commands you can use for your system. This can be handy if you are searching for a certain animation or if you want to have a full view of what you can use to adjust your Digital Human’s behaviour to your liking. Select a category to find all of the corresponding animations and code strings. </p>
        
        <ul class="listFilter">
            <li>
                <a href="#listEyes">
                    <div>
                        <img src="/img/eyes.png" alt="">
                    </div>
                    <p>Eyes</p>
                </a>
            </li>
            <li>
                <a href="#listBrows">
                    <div>
                        <img src="/img/brows.png" alt="">
                    </div>
                    <p>Brows</p>
                </a>
            </li>
            <li>
                <a href="#listMouth">
                    <div>
                        <img src="/img/mainmout.png" alt="">
                    </div>
                    <p>Mouth</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/head.png" alt="">
                    </div>
                    <p>Head</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/emotion.png" alt="">
                    </div>
                    <p>Emotions</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src=" /img/position.png" alt="">
                    </div>
                    <p>Position</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>
                    <p>Background</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>                
                    <p>Foreground</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>
                    <p>TEST</p>
                </a>
            </li>
            <li>
                <a href="#listx">
                    <div>
                        <img src="/img/visemes.png" alt="">
                    </div>
                    <p>TEST</p>
                </a>
            </li>
        </ul>
    </section>

    <section class="listSections">

        <section id="listEyes">
            <h2 class="titles">Eyes</h2>
            <ul>
                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Eyebrow Raise</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li class="list">
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Eyebrow Raise</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listMouth">
            <h2>Mouth</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listX">
            <h2>TestXXXX</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listX">
            <h2>TestXXXX</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

        <section id="listX">
            <h2>TestXXXX</h2>
            <ul>
                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile large</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>

                <li>
                    <img src="/img/placeholder.png">
                    <div>
                        <h3>Smile small</h3>
                        <a>Click here to copy! (not functional yet)</a>
                    </div>
                </li>
            </ul>
        </section>

    </section>
</body>
<script src="/script/list.js"></script>

</html>