<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <header>
        <a href="#"><img class="logo" src="/img/logo_wit.png"></a>
    </header>


  
  
    <main>
        <div>
            <img src="/img/loginImg.png" alt="">
        </div>

        <div>
            <h1>Sign in</h1>
            <p>Please enter your password to get access to the Animation Dashboard. You can receive te password by contacting Virtually Human at <a href="mailto: site@virtually-human.com">site@virtually-human.com</a></p>

            <form class="passform" action="/ " onsubmit="return passcheck ()">
                <input type="password" required id="pass1" placeholder="Password">
               <!--  <fieldset class="code">
                    <label for="name">Type in the code</label>
                    <input type="password" name="nummer" id="nummer"> 
                </fieldset>-->
                <input type="submit" value="Continue" id="continue">
            </form>
        </div>
        
      

        </main>
</body>

<script src="/script/login.js"></script>
</html>