<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Guide - Virtually Human</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/start.css">
    <link rel="shortcut icon" type="image/ico" href="img/favicon.ico"/>
</head>

<body>
    <%- include('partials/header') %>

    <ul class=titlebar>
        <li> <a href="/">ANIMATION DASHBOARD</a> </li>
        <li>
            <p>></p>
        </li>
        <li> <a href="/start">USER GUIDE</a></li>
    </ul>
    <ul class="guideTop">
        <li>
            <h1>User Guide</h1>
            <p>Here’s an overview of the use of this tool, as well as a brief introduction to help you get started.</p>
        </li>
        <li>
            <h2>Animation Catalog</h2>
            <p>Looking for a detailed list of available animations and their corresponding code strings?</p>
            <a href="/list">Catalog</a>
        </li>
    </ul>

    <ul class="guideExplain">
        <li>
            <div>
                <h2>How does the animation dashboard work?</h2>
                <p>You can use our tool to control the animations of your Digital Human, such as eye movement, mouth
                    movement, positions, and more. While you add or alter animations, our tool will generate the
                    corresponding code, which you can then copy and paste into your system. You can combine several
                    animations to create an animation sequence. You'll find an overview of the added animation in the
                    timeline.
                    <br><br>
                    To visualize the full code strings, you can play a preview of the animation you created, with Mila,
                    our Digital Human. Finally, whenever you're satisfied with your animation or animation sequence, you
                    will be able to copy the final code and add it to your system.
                </p>
            </div>

            <img src="/img/editor.png" class="moveUp">
        </li>

        <li>
            <img src="/img/variations.png">

            <div>
                <h2>Browse through categories</h2>
                <p>In the dashboard you will find a series of categories you can choose from to personalize your Digital
                    Human. You can choose various amounts of variations per category selection. When you choose one of
                    the available variations you can edit its properties, such as movement speed, waiting time, and more
                    in the code editor. When you are satisfied with the result, click 'Add to animation X' to add your
                    animation to your timeline and definite code.
                    <br><br>
                    When a category has been chosen, you can then choose which animation variation you want to add to
                    your timeline. After a variation has been chosen, it will be sent to the code editor to fine-tune
                    the animation. Note: when a variation has been chosen, it is not added to your timeline yet.
                </p>
            </div>


        </li>
    </ul>

    <ul class="guideBrowse">
        <li>
            <div>
                <h2>Choose between multiple variations</h2>
                <p>There are several ways to personalize your Digital Human within the categories. Consider the
                    expressions "Look at camera" or "Look left." These variations will have the default values, but if
                    you wish to modify them even further, the variables may be found in the code editor.
                    <br><br>
                    The Animation Dashboard contains the majority of the variations. However, there are a few more
                    variations in the Catalog for the more experienced developers. Lighting, visemes, speed, and pitch
                    are a few examples.</p>
            </div>

            <img src="/img/ui.png">
        </li>

        <li>
            <img src="/img/codeEditor.png">

            <div>
                <h2>Code editor</h2>
                <p>After selecting an animation, you could fine-tune it in the code editor. By clicking the + and -
                    buttons, you can adjust the movement speed, return speed, and wait time. When you are satisfied with
                    the code, you can update the code and add it to your timeline by pressing the “add to animation X”
                    button. If you want to reset the code to its original values, you can press the reset button on the
                    bottom right. </p>
            </div>


        </li>

        <li>
            <div>
                <h2>Timeline</h2>
                <p>In the timeline you can see the animations that are added to the sequence.
                    The complete code can be found at the bottom. This code is also the code that will be played during
                    your preview. Not happy with the code? You can also manually modify values by editing the code
                    string in the textbox.
                    <br><br>
                    The timeline will show the order of the animations that are added to the timeline. If you want to
                    delete the full timeline, you can press the "start again" button in the bottom right.
                    <br><br>
                    If you're happy with your animation, you can copy the code by clicking the "copy code" button to
                    implement the code into your chatbot. If necessary, you can download the PDF with the complete code.
                </p>
            </div>

            <img src="/img/copyCode.png">
        </li>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </ul>

    <ul class="contact">
        <li>
            <h2>Contact</h2>
            <p>Virtually Human</p>
            <p>Guido Jongen</p>
            <a href="tel:+31 6 556 901 69">+31 6 556 901 69</a>
            <br>
            <a href="mailto:site@virtually-human.com">site@virtually-human.com</a>
            <p>Copyright © 2022 Virtually Human</p>
        </li>
        <li>
            <a href="https://www.virtually-human.com/" target="_blank" class="siteButton">Visit virtually-human.com</a>
        </li>
    </ul>
</body>
<script src="/script/list.js"></script>

</html>
