<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
    <%- include('partials/header') %>

    
        <ul class="guideTop">
            <li>
        <h1>User guide</h1>
        <p>Here’s an overview of the use of this tool and a process overview to help guide along before we begin.</p>
        </li>
        <li>
        <h2>Animation catalog</h2>
        <p>Searching for a full list of available animation with corresponding code strings?</p>
        <button src="www.trulience.com">Catalog ></button>
        </li>
    </ul>
    <ul class="guideExplain">
        <li>
    <h2>How does the animation dashboard work?</h2>
    <p>Using our tool, you can control the animations of your Digital Human, such as eyes movement, mouth movements but also transitions and more. While you add or edit animations our tool will generate the corresponding code which you can simply copy and paste into your system. You can add multiple animations to create sequence of animations. You'll find an overview of the added animation in the timeline. While using our dashboard you can play a live preview of the animation you assembled to visualize the raw code. Finally, when you’re satisfied with your animation or animation sequence, you will be able to copy the final code and add it to your system.
    </p>
    </li>
    <li> <img src="/img/placeholder.webp"></li>
    <li> <img src="/img/placeholder.webp"></li>
    <li>
    <h2>In which case will you use our tool?</h2>
    <p>Our animation dashboard is used to edit animations of a Digital Human in a visual process that will make adding animations easier. These Digital Humans are primarily used for chatbots to add a personal touch for customers communicating with your company. Let's say the customer received two right shoes instead of a pair. Using our tool you can add an animation or animation sequence which responds to the user input, in this case you might want the Digital Human to raise its eyebrows. In conclusion, our tool visualizes code strings that you previously had to edit manually by editing the raw code.</p>
    </li>
    
</ul>


</body>
<script src="/script/chatbot.js"></script>
<script src="/script/list.js"></script>
</html>
