/* h2 {
    font-size: 1em;
}
.codeEditor {
    width: 35em;
    border: 3px solid black;
    border-radius: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.codeEditor > h2 {
    font-size: 1em;
    margin-left: 1em;
    color: var(--orange);
    padding-left: 1em;
}

.codeEditor > textarea {
width: 90%;

    background-color: rgb(241, 241, 241);
    border-radius: 1.5em;
    border: none;
    font-weight: bold;
    text-align: center;
    margin-left: 1em;
}


.buttonStyling {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.buttonStyling > p {
font-weight: lighter;
font-size: 0.8em;
    min-width: 3em;
}
section.commandList{
width: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  

}

ul {

    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
button { 
    width: 15em;
    padding: 0.5em;
    margin: 0.2em;
   
    background-color: var(--orange);
    border: 2px solid rgb(163, 65, 0);
    color: white;
  font-weight: bolder;
    border-radius: 0.2em;
     transition: all .2s;
}
section.commandList > ul > li > button:hover {
    border: 2px solid darkorange;
    background-color: darkorange;
    padding:0.6em;
    margin:0.1em;
    font-weight: bold;
  
}
button.minus{
    line-height: 0;
    font-size: large;
    color: black;
    font-weight: bolder;
    width: 2em;
    max-height: 2em;
    background-color: white;
   border-radius: 0.5em;
    border: 3px solid red;
    transition: all 0.3s;
}
button.minus:hover {
    background-color: red;
    color: white;
    transform: scale(1.1);
}
button.plus {
    line-height: 0;
    font-size: large;
    
    color: black;
    font-weight: bolder;
    width: 2em;
    max-height: 2em;
    background-color: white;
    border-radius: 0.5em;
    border: 3px solid green;
    transition: all 0.3s;
}
button.plus:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);
} */

#eyebrowRaiseUpdate {
    display: none;
}

#eyebrowRaiseUpdate.show {
    display: block;
}

#eyebrowSmallUpdate {
    display: none;
}
#eyebrowSmallUpdate.show {
    display: block;
}

#frownUpdate {
    display: none;
}
#frownUpdate.show {
    display: block;
}

#frownSmallUpdate {
    display: none;
}
#frownSmallUpdate.show {
    display: block;
    
}
#lookDownUpdate {
    display: none;
}
#lookDownUpdate.show {
    display: block;
    
}
#lookRightUpdate {
    display: none;
}
#lookRightUpdate.show {
    display: block;
    
}
#mouthUpdate {
    display: none;
}
#mouthUpdate.show {
    display: block;
    
}
#mouthTeethUpdate {
    display: none;
}
#mouthTeethUpdate.show {
    display: block;
    
}
#lookLeftUpdate {
    display: none;
}
#lookLeftUpdate.show {
    display: block;
    
}
#smileUpdate {
    display: none;
}
#smileUpdate.show {
    display: block;
}

#nodUpdate {
    display: none;
}
#nodUpdate.show {
    display: block;
    
}
#leanInUpdate {
    display: none;
}
#leanInUpdate.show {
    display: block;
    
}
#shakeFastUpdate {
    display: none;
}
#shakeFastUpdate.show {
    display: block;
    
}
#shakeSlowUpdate {
    display: none;
}
#shakeSlowUpdate.show {
    display: block;
    
}
#closedMouthUpdate {
    display: none;
}
#closedMouthUpdate.show {
    display: block;
    
}
#mouthTeethUpdate {
    display: none;
}
#mouthTeethupdate.show {
    display: block;
    
}
#smileSmallUpdate {
    display: none;
}
#smileSmallUpdate.show {
    display: block;
    
}

#smileMediumUpdate {
    display: none;
}
#smileMediumUpdate.show {
    display: block;
    
}
#smileXlUpdate {
    display: none;
}
#smileXlUpdate.show {
    display: block;
    
}

#lookDownLeftUpdate {
    display: none;
}
#lookDownLeftUpdate.show {
    display: block;
    
}
#lookDownRightUpdate {
    display: none;
}
#lookDownRightUpdate.show {
    display: block;
    
}
#lookAtCamUpdate {
    display: none;
}
#lookAtCamUpdate.show {
    display: block;
    
}
#lookUpLeftUpdate {
    display: none;
}
#lookUpLeftUpdate.show {
    display: block;
    
}

#lookUpRightUpdate {
    display: none;
}
#lookUpRightUpdate.show {
    display: block;
    
}
#eyebrowRaiseXSUpdate {
    display: none;
}
#eyebrowRaiseXSUpdate.show {
    display: block;
    
}
#eyebrowSmallUpdate {
    display: none;
}
#eyebrowSmallUpdate.show {
    display: block;
    
}
#eyebrowRaiseUpdate {
    display: none;
}
#eyebrowRaiseUpdate.show {
    display: block;
    
}
#frownXSUpdate {
    display: none;
}
#frownXSUpdate.show {
    display: block;
    
}
#smallFrownUpdate {
    display: none;
}
#smallFrownUpdate.show {
    display: block;
    
}

#frownLUpdate {
    display: none;
}
#frownLpdate.show {
    display: block;
    
}
#nodSmallUpdate {
    display: none;
}
#nodSmallUpdate.show {
    display: block;
    
}
#nodFastUpdate {
    display: none;
}
#nodFastUpdate.show {
    display: block;
    
}
#nodLargeUpdate {
    display: none;
}
#nodLargeUpdate.show {
    display: block;
    
}
#nodAverageUpdate {
    display: none;
}
#nodAverageUpdate.show {
    display: block;
    
}
#nodSlowUpdate {
    display: none;
}
#nodSlowUpdate.show {
    display: block;
    
}
#shakeUpdate {
    display: none;
}
#shakeUpdate.show {
    display: block;
    
}
#eyebrowRaiseLUpdate {
    display: none;

}
#eyebrowRaiseLUpdate.show {
    display: block;
    
}
#lookUpUpdate {
    display: none;

}
#lookUpUpdate.show {
    display: block;
    
}
#smileLargeUpdate {
    display: none;
}
#smileLargeUpdate.show {
    display: block;
}
#leftBrowRaiseUpdate {
    display: none;
}
#leftBrowRaiseUpdate.show {
    display: block;
}
#rightBrowRaiseUpdate {
    display: none;
}
#rightBrowRaiseUpdate.show {
    display: block;
}
#quizicalUpdate {
    display: none;
}
#quizicalUpdate.show {
    display: block;
}
#outerBrowsUpdate {
    display: none;
}
#outerBrowsUpdate.show {
    display: block;
}
#browsInUpdate {
    display: none;
}
#browsInUpdate.show {
    display: block;
}
#browsDownScrunchUpdate {
    display: none;
}
#browsDownScrunchUpdate.show {
    display: block;
}
#blendStCss {
    display: none;
}
#blendStCss.active {
    display: flex;
}
#blendEnCss {
    display: none;
}
#blendEnCss.active {
    display: flex;
}

#duraCss {
    display: none;
}
#duraCss.active {
    display: flex;
}
#speedCss {
    display: none;
}
#speedCss.active {
    display: flex;
}
#leanInNodUpdate {
    display: none;
}
#leanInNodUpdate.show {
    display: flex;
}
#leanIn2Update {
    display: none;
}
#leanIn2Update.show {
    display: flex;
}
#leanInNod2Update {
    display: none;
}
#leanInNod2Update.show {
    display: flex;
}

#turnLeftUpdate {
    display: none;
}
#turnLeftUpdate.show {
    display: flex;
}
#turnRightUpdate {
    display: none;
}
#turnRightUpdate.show {
    display: flex;
}
#closeUpUpdate {
    display: none;
}
#closeUpUpdate.show {
    display: flex;
}
#screenNoAvatarUpdate {
    display: none;
}
#screenNoAvatarUpdate.show {
    display: flex;
}
#upperBodyVisibleUpdate {
    display: none;
}
#upperBodyVisibleUpdate.show {
    display: flex;
}
#upperBodyVisibleZoomedUpdate {
    display: none;
}
#upperBodyVisibleZoomedUpdate.show {
    display: flex;
}
#screenLeftUpdate {
    display: none;
}
#screenLeftUpdate.show {
    display: flex;
}
#screenRightUpdate {
    display: none;
}
#screenRightUpdate.show {
    display: flex;
}
#screenAvatarLeftUpdate {
    display: none;
}
#screenAvatarLeftUpdate.show {
    display: flex;
}
#screenAvatarRightUpdate {
    display: none;
}
#screenAvatarRightUpdate.show {
    display: flex;
}
#screenAvatarCenterMUpdate {
    display: none;
}
#screenAvatarCenterMUpdate.show {
    display: flex;
}
#screenAvatarCenterLUpdate {
    display: none;
}
#screenAvatarCenterLUpdate.show {
    display: flex;
}
#screenAvatarLeftSUpdate {
    display: none;
}
#screenAvatarLeftSUpdate.show {
    display: flex;
}
#screenAvatarRightSUpdate {
    display: none;
}
#screenAvatarRightSUpdate.show {
    display: flex;
}
#screenAvatarLeftMUpdate {
    display: none;
}
#screenAvatarLeftMUpdate.show {
    display: flex;
}
#screenAvatarRightMUpdate {
    display: none;
}
#screenAvatarRightMUpdate.show {
    display: flex;
}
#officeBackUpdate {
    display: none;
}
#officeBackUpdate.show {
    display: flex;
}
#friendlyUpdate {
    display: none;
}
#friendlyUpdate.show {
    display: flex;
}

#agreeUpdate {
    display: none;
}
#agreeUpdate.show {
    display: flex;
}
#disagreeUpdate {
    display: none;
}
#disagreeUpdate.show {
    display: flex;
}
#disapprovalUpdate {
    display: none;
}
#disapprovalUpdate.show {
    display: flex;
}
#surpriseUpdate {
    display: none;
}
#surpriseUpdate.show {
    display: flex;
}
#questionUpdate {
    display: none;
}
#questionUpdate.show {
    display: flex;
}


.filterDiv.foreground.filterShow{
    padding: 0 !important;
}

.filterDiv.background.filterShow {
    padding: 0 !important;
}

.filterDiv.foreground.filterShow img{
    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 0.5em;

    max-width: none;

    max-height: none;
}

.filterDiv.background.filterShow img {

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 0.5em;

    max-width: none;

    max-height: none;

}

