  .filterDiv {
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  section > ul > li.filterDiv {
 
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  .filterShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8em;
    padding: 1em;    
    background-color: var(--text-color-buttons);
    border: none;
    border-radius: 0.5em;
  }

  .filterDiv.position.filterShow {
    padding: 1em 0.5em;
  }


  .filterShow img {
    max-height: 70%;
    max-width: 70%;
  }

  .filterDiv.mouth.filterShow img{
    height: 2em;
  }

  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    color: white;
  }

