
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--black);
    height: 5.3125em;
    font-size: 1em;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 calc(10% - 2em);
}  

nav img {
    height: 2rem;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

nav ul {
    display: flex;
    gap: 3em;
    color: var(--text-color-buttons);
    list-style: none;
}

nav ul li a.active{
    color: var(--orange);
}

a {
    text-decoration: none;
    color: var(--text-color-buttons);
    font-size: 0.875em;
}

nav a {
    text-transform: uppercase;
}

.current {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
}

a:hover {
    color: var(--orange);
}
    

