.imageArea{
    width: 35em;
}
.imageArea > textarea {
    width: 100%;
   
    background-color: rgb(241, 241, 241);
    border-radius: 1.5em;
    border: none;
    font-weight: bold;
    text-align: center;
    margin: 1em 0em 0em 0em;
}


.imageArea > img {
    width: 100%;
    
}


#copyTime {
    margin-bottom: 1em;
    float: right;
    border: none;
    background-color: lightgrey;
    color: black;
}
#copyTime:hover {
   transform: scale(1.05);
    background-color: grey;
  
}