/*********/
/* FONTS */
/*********/
/* @font-face { */
    /* font-family: 'montserrat'; */
    /*src: url("../fonts/Montserrat-VariableFont_wght.woff2") format("woff2");*/
/* } */

/**************/
/* VARIABELEN */
/**************/
:root {
    --black: #1D1D1B;
    --text-color-buttons: #FFFFFF;
    --orange: #E84D3C;
    --blue: #143056;
    --grey: #626262;
    --main-font: 'Montserrat';
    --darkestblue: #121B30;
    --darkblue: #17223C;
    --hover-orange: #F47E71;
}

/**************/
/* CSS REMEDY */
/**************/
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
}

/********************/
/* ALGEMENE STYLING */
/********************/
h1 {
    color: var(--text-color-buttons);
    font-size: 1.25em;
    font-weight: 400;
}

h2 {
    color: var(--text-color-buttons);
    font-size: 1.25em;
    font-weight: 100;
}

button {
    border: none;
    cursor: pointer;
}

body {
    overflow: hidden;
}

/*************/
/* SCROLLBAR */
/*************/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1D1D1B;
}

::-webkit-scrollbar
{
    height: 10px;
	width: 10px;

}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E84D3C;
}

/*************/
/* DASHBOARD */
/*************/

/* splitten van de 2 kleuren */
.partials {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    height: calc(100vh - 5em);
}

/***************/
/* LINKERHELFT */
/***************/

/* linkerhelft van het scherm */
.partials_left  {

    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 1em 2em 0 0;
}

/* rechts positioneren in het linkervak */
.left__right {
    list-style: none;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    align-items: right;
    position: absolute;
    right: 2em;
    width: 80%;
}

/***********/
/* PREVIEW */
/***********/
.left__right li:nth-of-type(2) {
    margin-bottom: 2.1em;
}

#remoteVideo {
    width: 100%;
    border-radius: 1em 1em 0 0;
    height: 40vh;
    object-fit: cover;
}

.livePlayer table {
    width: 100%;
}

.banner {
    display: none;
}

table tbody {
    position: relative;
    margin-bottom: 1em;
}

table tbody tr:nth-of-type(2) {
    position: absolute;
    display: flex;
    background-color: var(--blue);
    padding: 0.5em 0;
    bottom: -37px;
    left: 0;
    right: 0;
    border-radius: 0 0 1em 1em;
}

table tbody tr:nth-of-type(2) td {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

table tbody tr:nth-of-type(2) td:first-of-type {
    margin-left: calc(1em - 5px);
    width: 30%;
}

table tbody tr:nth-of-type(2) td:nth-of-type(2) {
    justify-content: flex-end;
    margin-right: 1em;
    width: 70%;
}

/* Send message button styling */
table tbody tr:nth-of-type(2) td:first-of-type button {
    background-color: var(--text-color-buttons);
    padding: .2em;
    border-radius: .25em;
    text-transform: capitalize;
    height: 2em;
}

/* play, end, mutemic & fullscreen button styling */
table tbody tr:nth-of-type(2) td:nth-of-type(2) button {
    background-color: var(--text-color-buttons);
    padding: .2em;
    border-radius: .25em;
    text-transform: capitalize;
    height: 2em;
}

/* preview vak styling */
.imageArea {
    z-index: 11;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}



/* styling playpause button */
/* .playpauseButton {
    transition: .3s ease-in-out;
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0 100%
    );
} */

/* veranderen in pause knop wanneer die afspeelt */
/* !!!!!NOG TOEVOEGEN!!!!!! */
/* .playpauseButton.playing {
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
} */

/* stopbutton styling */
/* .stopButton {
    border-radius: .2em;
} */

/*******************/
/* TIMELINE + CODE */
/*******************/
/* vormgeving timeline blok */
.timelineArea {
  
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue);
    padding: 1em;
    border-radius: 1em;
    gap: .5em;
    height: 30vh;
}
.previewVid {
    border: 15px solid red;
    float:left;
    max-width: 10%;
}
.previewVid {
    border: 15px solid red;
    float:left;
    max-width: 10%;
}
/* timeline zelf */
.timeline {
    height: 4em;
    background-color: red;
}

/* textarea timeline */
.timelineArea textarea {
    width: 100%;
    border-radius: .5em;
    padding: .5em;
    height: 100%;
    resize: none;
}

/* positioneren buttons onderaan timeline */
.timelineButtons {
    display: flex;
    justify-content: space-between;
}

.timelineButtons div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

/* copy code button */
.timelineButtons div button:first-of-type{
    background-color: var(--orange);
    padding: .5em 1em;
    color: var(--text-color-buttons);
    border-radius: .5em;
}

/* pdf button */
.timelineButtons div button:nth-of-type(2) {
    height: 1.875em;
    background: transparent;
}

.timelineButtons div button:nth-of-type(2) img {
    height: 100%;
}

.timelineButtons > button {
    background: transparent;
    color: var(--text-color-buttons);
    font-size: 1em;
}

/****************/
/* RECHTERHELFT */
/****************/

/* rechterhelft van het scherm */
.partials_right {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50%;
    height: 100%;
    background-color: var(--blue);
    border-radius: 2em 0 0 0;
    padding: 1em 0 0 2em;
}

/*******************/
/* HOOFD VARIATIES */
/*******************/
/* filter rechts bovenaan */
#myBtnContainer {
    background-color: var(--black);
    height: 11vh;
    border-radius: 1em;
    padding: .5em 1em .5em 1em;
    display: flex;
    gap: .5em;
    overflow-x: scroll;
    width: 75%;
}

.autoAnimation {
    width: 25%;
    height: 11vh;
    background-color: var(--black);
<<<<<<< Updated upstream
    padding: .5em;
    border-radius: 1em;
    color: var(--text-color-buttons);
    display: flex;
    justify-content: center
;}
=======
    border-radius: 1em;
    color: var(--text-color-buttons);
    grid-area: 1 / 5 / 2 / 6;
}

.btn {
    background-color: transparent;
    border: none;
    padding: .5em;
    border-radius: 5px;
    height: 100%;
    min-width: 6em;
>>>>>>> Stashed changes

.autoAnimation button,
#myBtnContainer button {
    display: flex;
    flex-direction: column;
<<<<<<< Updated upstream
=======
    justify-content: space-between;
>>>>>>> Stashed changes
    align-items: center;
    justify-content: space-between;
    gap: auto;
    background-color: transparent;
    border: none;
    border-radius: 0.5em;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
    height: 100%;
    padding: .5em;
}

#myBtnContainer button img {
    height: 2.5em;
}

.autoAnimation button img {
    width: 100%;
    max-width: 2.5rem;
}

.btn img {
    width: 60%;
}
  
  /* Add a light grey background on mouse-over */
  .autoAnimation button:hover,
  #myBtnContainer button:hover {
    background-color: var(--hover-orange);
    color: var(--black);
    filter: none;
  }
  
  /* Add a dark background to the active button */
  .autoAnimation button.active,
  #myBtnContainer button.active {
    color: var(--orange);
    filter: none;
  }

  .autoAnimation button.active img,
  #myBtnContainer button.active img {
    filter: invert(60%) sepia(91%) saturate(5059%) hue-rotate(338deg) brightness(94%) contrast(92%);
}

/********************/
/* OPTIES VARIATIES */
/********************/
/* buitenste vlak stylen */
.commands {
    background-color: var(--black);
    width: 100%;
    height: 26vh;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: .7em;
}

/* filter & commands */
.commandList {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 1em;
}

.filtercommands {
    display: flex;
    gap: 1em;
}

/* items in een grid */
.container {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    gap: 1em;
    overflow-y: scroll;
}

.container button:hover {
    background-color: var(--hover-orange);
}

.container button:active {
    background-color: var(--orange);
<<<<<<< Updated upstream
=======
}

/* TEST */
.testholder {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: red;
>>>>>>> Stashed changes
}

/*  */

/***************/
/* CODE EDITOR */
/***************/

/* styling van de code editor */
.editor {
    display: flex;
    background-color: var(--black);
    width: 80%;
    padding: 1em;
    border-radius: 1em;
    height: 39vh;
}

.codeEditor {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

/* textarea styling */
#textReturn {
    width: 100%;
    border-radius: .5em;
    padding: .5em;
    resize: none;
    height: 100%;
}

/* horizontaal neerzetten van elke button */
.buttonStyling {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-buttons);
}

/* - & + en secondes naast elkaar */
.buttonStyling section {
    display: flex;
    gap: 1em;
    position: relative;
}

/* - & + binnen een vak zodat ze niet verspringen */
.buttonStyling section div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: absolute;
    right: 2.5em;
}

/* editor button + en - styling */
.buttonStyling section div button {
    width: 1.5rem;
    aspect-ratio: 1/1;
    font-size: 1em;
    border-radius: .25em;
    border: none;
}

.changesAdd ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.changesAdd button {
    border: none;
    padding: .6rem;
    border-radius: .5em;
}

.buttonStyling section div button:hover,
.changesAdd button:hover {
    background-color: var(--hover-orange);
}

.buttonStyling section div button:active,
.changesAdd button:active {
    background-color: var(--orange);
}
