/*********/
/* FONTS */
/*********/
@font-face {
    font-family: 'montserrat';
    src: url("/public/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

/**************/
/* CSS REMEDY */
/**************/
*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
}

/**************/
/* VARIABELEN */
/**************/
:root {
    --black: #1D1D1B;
    --text-color-buttons: #FFFFFF;
    --orange: #E84D3C;
    --blue: #143056;
    --grey: #626262;
    --main-font: 'montserrat';
    --darkestblue: #121B30;
    --darkblue: #17223C;
    --hover-orange: #F47E71;
}

/********************/
/* ALGEMENE STYLING */
/********************/
h1 {
    color: var(--text-color-buttons);
    font-size: 1.56em;
    font-weight: 400;
}

h2 {
    color: var(--text-color-buttons);
    font-size: 1.25em;
    font-weight: 100;
}

button {
    border: none;
    cursor: pointer;
}

/*************/
/* DASHBOARD */
/*************/

/* splitten van de 2 kleuren */
.partials {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    height: calc(100vh - 5em);
}

/***************/
/* LINKERHELFT */
/***************/

/* linkerhelft van het scherm */
.partials_left  {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 50vw;
    height: 100%;
    padding: 1em 2em 0 0;
}

/* rechts positioneren in het linkervak */
.left__right {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: right;
    position: absolute;
    right: 2em;
    width: 80%;
}

/***********/
/* PREVIEW */
/***********/
/* preview vak styling */
.imageArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* preview img binnen vak houden & border-radius */
.preview img {
    width: 100%;
    height: 40vh;
    border-radius: 1em;
    object-fit: cover;
}

.preview {
    position: relative;
    height: 40vh;
}

/* buttons onder aan de preview */
.previewbuttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    border-radius: 0 0 1em 1em;
    display: flex;
    justify-content: space-between;
    padding: .6em 1em;
}

.previewbuttons button {
    border: none;
    background-color: var(--text-color-buttons);
    height: 1rem;
    aspect-ratio: 1/1;
}

/* styling playpause button */
.playpauseButton {
    transition: .3s ease-in-out;
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0 100%
    );
}

/* veranderen in pause knop wanneer die afspeelt */
/* !!!!!NOG TOEVOEGEN!!!!!! */
.playpauseButton.playing {
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

/* stopbutton styling */
.stopButton {
    /*  */
}

/*******************/
/* TIMELINE + CODE */
/*******************/
/* vormgeving timeline blok */
.timelineArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--blue);
    padding: 1em;
    border-radius: 1em;
    gap: .5em;
    height: 35vh;
}

/* timeline zelf */
.timeline {
    height: 4em;
    background-color: red;
}

/* textarea timeline */
.timelineArea textarea {
    width: 100%;
    border-radius: .5em;
    padding: .5em;
}

/* positioneren buttons onderaan timeline */
.timelineButtons {
    display: flex;
    justify-content: space-between;
}

/* copy code button */
.timelineButtons div button:first-of-type{
    background-color: var(--orange);
    padding: .5em 1em;
    color: var(--text-color-buttons);
    border-radius: .5em;
}

/* pdf buttom */
.timelineButtons div button:nth-of-type(2) {
    height: 1em;
    background: transparent;
}

.timelineButtons > button {
    background: transparent;
    color: var(--text-color-buttons);
    font-size: 1em;
}

/****************/
/* RECHTERHELFT */
/****************/

/* rechterhelft van het scherm */
.partials_right {
    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 50vw;
    height: 100%;
    background-color: var(--blue);
    border-radius: 2em 0 0 0;
    padding: 1em 0 0 2em;
}

/*******************/
/* HOOFD VARIATIES */
/*******************/
/* filter rechts bovenaan */
#myBtnContainer {
    width: 80%;
    background-color: var(--black);
    height: 13vh;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    gap: 1em;
    overflow-x: scroll;
}


#myBtnContainer button {
    background-color: var(--text-color-buttons);
    border: none;
    height: 100%;
    padding: .5em;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

/********************/
/* OPTIES VARIATIES */
/********************/
/* buitenste vlak stylen */
.commands {
    background-color: var(--black);
    width: 80%;
    height: 20vh;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: .7em;
}

/* filter & commands */
.commandList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* items in een grid */
.container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1em;
    overflow-y: scroll;
}

/* .container button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4em;

    background-color: var(--text-color-buttons);
    border: none;
    width: 100%;
    padding: .5em;
    height: auto;
    border-radius: 5px;
} */

.container button {
    background-color: var(--text-color-buttons);
    border: none;
    width: 100%;
    padding: .5em;
    height: auto;
    border-radius: 5px;}

.container button:hover {
    background-color: var(--hover-orange);
}

/* TEST */
.testholder {
    width: 25%;
    aspect-ratio: 1/1;
    background-color: red;
}

/*  */

/***************/
/* CODE EDITOR */
/***************/

/* styling van de code editor */
.editor {
    background-color: var(--black);
    width: 80%;
    padding: 1em;
    border-radius: 1em;
}

.codeEditor {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

/* textarea styling */
#textReturn {
    width: 100%;
    border-radius: .5em;
    padding: .5em;
}

/* horizontaal neerzetten van elke button */
.buttonStyling {
    display: flex;
    justify-content: space-between;
    color: var(--text-color-buttons);
}

/* - & + en secondes naast elkaar */
.buttonStyling section {
    display: flex;
    gap: 1em;
    position: relative;
}

/* - & + binnen een vak zodat ze niet verspringen */
.buttonStyling section div {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    position: absolute;
    right: 2.5em;
}

/* editor button + en - styling */
.buttonStyling section div button {
    width: 1.5rem;
    aspect-ratio: 1/1;
    font-size: 1em;
    border-radius: .25em;
    border: none;
}

.changesAdd ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

.changesAdd button {
    border: none;
    padding: .6rem;
    border-radius: .5em;
}

.changesAdd button:hover {

}